*{
    font-family: 'Nunito', 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 3500px;
    min-width: auto;

}

[alt="bkg"]{
    background-image: linear-gradient(to bottom left, #ffe082, #fff8e1);
    border-radius: 30ch 20px 0vh 0px;
    width: 108%;
    height: 580px;
    margin-left: 8px;
    position: absolute;
    top: 90px;
    right: -110px;
    z-index: -1;
}
[alt="bkgd"]{
    overflow: hidden;
    max-width: none;
    max-height: fit-content;
    min-width: 800px;
}
[alt="logo"]{
    margin: 20px 60px;
    display: block;
    max-width: auto;
}

.navbar{
    background-color: gray;
    height: 40px;
    width: 500px;
    padding-top: 10px;
    border-radius: 10vh;
    margin: -90px 500px;
}


a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

ul{
    flex: 1;
    text-align: center;
}
li{ 
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}
.navbar ul li{
    display: grid;
    display: inline;
    text-decoration: none;
    align-items: center;
}

.navbar ul li a:hover{
    font-weight: bolder;
    cursor: pointer;
    background-color: white;
    border-radius: 10ch;
    color: red;
}
.navbar ul li a:active{
    font-weight: bolder;
    cursor: pointer;
    background-color: white;
    border-radius: 10ch;
    color: red;
}

body{
    margin: 20px 70px;
    background: -webkit-radial-gadient(top left, #e9eaeb, #edddcd);
    background-image: url(images/curve_bkgd.png);
    background-position: cover;
}
#greeting{
    display: bloc;
    margin: 270px 280px;
    margin-bottom: 250px;
    width: 550px;
    border-top: 5px solid lightgray;
    border-top-left-radius: 30px;
    text-align: center;
}
#greetin{
    border-bottom-right-radius: 30px;
}
[alt="name"]{
    font-size: 60px;
    margin-bottom: -20px;
}
[alt="SE"]{
    font-size: 28px;
}
[alt="one"]{
    text-align: center;
}
[alt="photo"]{
    transform: scaleX(-1);
    flex: auto;
    border-radius: 10vh;
    float: right;
    margin: 150px 200px;
    padding: auto;

}
h1{
    color: red;
}
[alt="works"]{
    margin: 300px;
    text-align: center;
}
.container{
    display: inline-flex;
    align-items: center;
    margin: 0 230px;
}
[alt="works_images"]{
    text-align: center;
    width: 70px;
    border-bottom: 1.5px solid lightgray;
    border-bottom-left-radius: 40px;
    width: 200px;
}
/*effect*/
.works_images:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom left, #ffe082, #fff8e1);
    border-radius: 30px;
}

[alt="works_images2"]{
    text-align: center;
    width: 70px;
    border-bottom: 1.5px solid lightgray;
    width: 200px;
    margin: 0 250px;
}

[alt="works_images3"]{
    text-align: center;
    width: 70px;
    border-bottom: 1.5px solid lightgray;
    border-bottom-right-radius: 40px;
    width: 200px;
}
[alt="phones"]{
    margin-left: -28px;
}

.container_logo{
    border-top: 1px solid gray;
    width: 469px;
    margin: 40px 50px;
}
.box_bkd{
    background-image: linear-gradient(to bottom left, lightblue, #fff8e1);
    width: 108%;
    height: 580px;
    margin-left: 8px;
    position: absolute;
    top: 90px;
    right: -110px;
    z-index: -1;
}
.box_bkgd{
    overflow: hidden;
    max-width: none;
    max-height: fit-content;
    margin: 1200px 0;
}

[alt="about"]{
    margin-top: 100px;
    text-align: center;
}
[alt="emoji"]{
    margin: -250px -95px;
}
.im{
    float: left;
    margin: 50px 350px;
}
.box1{
    display: grid;
    text-align: end;
    margin-top: 40px;
}